@font-face {
    font-family: 'Spectral SC';
    src: url('../fonts/SpectralSC-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/EBGaramond-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
